{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">

    <section class="fifty" style="height: 90vh;background-color: #f4c983;">
        <div class="row" style="padding: 100px;">
            <div class="col-lg-4 text-center">
                <img class="pt-5" src="/static/svg/board.svg" style="height: 70%;">
            </div>
            <div class="col-lg-8 text-center" style="padding-top: 80px;">
                <h1><span style="font-size: 50px;font-weight: bolder;color: #194350">Welcome to<img
                            src="/static/images/sik.png" height="100px;"></span></h1>
                <h1 class="paddi text-white ml-5 "><em style="font-size: 50px;font-weight: bolder;">Quote for the
                        Day:</em>&nbsp;&nbsp;&nbsp;&nbsp;<br><i style="color: #194350"><sup><i
                                class="fas fa-quote-left"></i></sup>&nbsp;&nbsp;Old is Gold is a very famous
                        Quotes.&nbsp;&nbsp;<sub><i class="fas fa-quote-right"></i></sub></i></h1>
            </div>
        </div>
    </section>

    <section id="sec-features" class="sec-features" style="background-color:#f8f5f1;">
        <div class="container">
            <br><br><br>
            <div class="row align-items-center feature">
                <div class="col-md-5">
                    <h3 class="h4">Video Lectures</h3>
                    <hr />
                    <p>Lockers come in all different shapes and sizes and can be hired in any building, even if it’s not
                        your home building.</p>
                </div>
                <div class="col-md-7 ">
                    <img src="/static/svg/video.svg" style="height: 500px;margin:50px;width: 500px;">
                </div>
            </div>

            <div class="row align-items-center feature" style="background-color: #d6e4f0;">
                <div class="col-md-7 text-center">
                    <img src="/static/svg/face.svg" style="height: 400px;margin:50px;width: 400px;">
                </div>
                <div class="col-md-5">
                    <h3 class="h4">AI Attendance</h3>
                    <hr />
                    <p>A Czech business address for you and your mail. We can either hold your mail for you to collect,
                        or forward it on to wherever you are.</p>
                </div>
            </div>



            <div class="row align-items-center feature">
                <div class="col-md-5">
                    <h3 class="h4">Download Subject Material</h3>
                    <hr />
                    <p>We’ll provide someone to answer your calls professionally using your company name. They’ll be put
                        through to you, or we’ll take a message if you’re unavailable.</p>
                </div>
                <div class="col-md-7 text-center">
                    <img src="/static/svg/material.svg" style="height: 700px;margin:50px;width: 700px;">
                </div>
            </div>


            <div class="row align-items-center feature" style="background-color: #d6e4f0;">
                <div class="col-md-7 text-center">
                    <img src="/static/svg/timetable.svg" style="height: 500px;margin:50px;width: 500px;">
                </div>
                <div class="col-md-5">
                    <h3 class="h4">Live Timetable</h3>
                    <hr />
                    <p>A Czech business address for you and your mail. We can either hold your mail for you to collect,
                        or forward it on to wherever you are.</p>
                </div>
            </div>



            <div class="row align-items-center feature">
                <div class="col-md-5">
                    <h3 class="h4">Subject Notifications</h3>
                    <hr />
                    <p>A Czech business address for you and your mail. We can either hold your mail for you to collect,
                        or forward it on to wherever you are.</p>
                </div>
                <div class="col-md-7 text-center">
                    <img src="/static/svg/notifications.svg" style="height: 500px;margin:50px;width: 500px;">
                </div>
            </div>


            <div class="row align-items-center feature" style="background-color: #d6e4f0;">
                <div class="col-md-7 text-center">
                    <img src="/static/svg/email.svg" style="height: 500px;margin:50px;width: 500px;">
                </div>
                <div class="col-md-5">
                    <h3 class="h4">Mass Emails</h3>
                    <hr />
                    <p>A Czech business address for you and your mail. We can either hold your mail for you to collect,
                        or forward it on to wherever you are.</p>
                </div>
            </div>

            <div class="row align-items-center feature">
                <div class="col-md-5">
                    <h3 class="h4">Secure</h3>
                    <hr />
                    <p>A Czech business address for you and your mail. We can either hold your mail for you to collect,
                        or forward it on to wherever you are.</p>
                </div>
                <div class="col-md-7 text-center">
                    <img src="/static/svg/Secure.svg" style="height: 500px;margin:50px;width: 500px;">
                </div>
            </div>

        </div>
    </section>
    <section class="fifty">
        <div id="cards_landscape_wrap-2" style="background-color: #edeef7;">
            <div class="container">
                <h1 style="color: #144434;font-size: 65px">&nbsp;&nbsp;Developers!</h1>
                <br><br><br>
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="#">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="/static/images/vikram.png" style="height: auto;" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <hr>
                                        <h5>Vikramsingh Karnot</h5>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
{% endblock%}