{% extends 'base.html' %}
{% block body %}
<section class="fifty text-center" style="background-color: #d6e4f0">
    <h1 style="color: #194350;font-weight:bold;font-size: 65px;padding-top: 40px;">Your Subjects</h1>
    <i class="fad fa-angle-double-down fa-4x"></i>
    <img src="/static/svg/subjects.svg" style="height: 400px;margin:10px;width: 400px;">
    <i class="fad fa-angle-double-down fa-4x"></i>
</section>
<section class="fifty">
    <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">

                <!--    ------------------------- FYBSCIT -------------------------------------->

                {% for subject in subjects %}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="{{ url_for('dashboard', subject = subject[0],sets='setsubject') }}">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src='/static/subject_pics/{{ subject[1] }}' alt="" />
                                </div>
                                <div class="text-container">
                                    <h5>{{ subject[0] }}</h5>
                                    <h6>{{ subject[2] }}</h6>
                                    <hr>
                                    <p>{{ subject[3] }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <p style="opacity: 0;">{{ username }}</p>
</section>
{% endblock %}